* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

#container {
  max-width: 100%;
}

.image-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 100px;
  align-items: center;
}

.image-gallery img {
  max-width: 400px;
  min-height: 350px;
  padding: 0.5rem;
}
